body {
        color: black;
        background-color: #18FFFF;
        font-family: "Lato", sans-serif;
        text-align: center;
} 


.btn {
    font: 400 50px/1.7 'Merienda One', Helvetica, sans-serif;
    border-radius: 15px;
    padding: 5px;
    height: 40px;
    background-color: deeppink;
    color: white;
    border: 2px solid deeppink;
    float: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 3px #999;
}

.btn:hover {
    background-color: white;
    color: black;
}

.btn:active {
    background-color: royalblue;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

.Title {
        font: 400 100px/1.7 'Merienda One', Helvetica, sans-serif;
        color: black;
}

.result {
        color: black;
        font-family: 'Lobster', cursive;
        font-size: 50px;
}

.resultTitle {
        font-family: 'Aldrich';
        font-weight: bold;
        color: darkgreen;
        font-size: 20px;
}

.divButtons {
    text-align: center;
}

/*
ul.tab {
        //color: white;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: white;
}   
*/
/*
//
ul.tab li {float: left;}

ul.tab li a { 

        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
}
ul.tab li a:hover {
        background-color: #ddd;
}

ul.tab li a:focus, .active {
        background-color: #ccc;
}

.tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
}
*/
