body {
        color: black;
        font-family: "Lato", sans-serif;
        text-align: center;
} 


.makeAChoice {
        width: 50px;
}

.flipACoin {
        width: 50px;
}

.choiceButton {
        width: 150px;
}


.Title {
        font: 400 100px/1.7 'Merienda One', Helvetica, sans-serif;
        color: black;
}

.result {
        color: black;
        font-family: 'Lobster', cursive;
        font-size: 50px;
}

.resultTitle {
        font-family: 'Aldrich';
        font-weight: bold;
        color: darkgreen;
        font-size: 20px;
}

ul.tab {
        color: white;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: white;
}   

ul.tab li {float: left;}

ul.tab li a { 

        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
}
ul.tab li a:hover {
        background-color: #ddd;
}

ul.tab li a:focus, .active {
        background-color: #ccc;
}

.tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
}
